@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
    font-family: Roboto, sans-serif;
    margin: 0;
  }

  .header-container1{
    background-color: #222222;
    color: #F3F3F3;
    font-weight: 400;
    font-size: 10px;
  }

  .header-container1-list {
    list-style: none;
  }

  .header-container2 {
    background-color: #F0A83E;
    color: #ffffff;
  }

  .logo-base {
    font-weight: 700;
    font-size: 20px;
  }

  .logo-front {
    color: #3C2313;
  }

  .header-container2-list {
    list-style: none;
    font-weight: 400;
    font-size: 13px;

  }